{% extends 'base.html' %}

{% block transactions %}active{% endblock %}


{% block title %} All transactions {% endblock %}

{% block style %}
    .table_custom th{ 
        color: rgba(255, 255, 255, 1);
        background-color:rgba(13, 110, 253, 1);
        text-align: center;
        vertical-align: middle;
        table-hover-bg-factor: rgba(13, 110, 253, 1);
    }

    .table-hover tbody tr:hover {
        background-color: #007bff;
        color: white; 
    }
{% endblock %}     


{% block content %}
<table class="table mt-5 table-bordered border-secondary table-striped table-hover">
    <thead class="table_custom">
        <tr>
            <th>Дата и время операции</th>
            {% comment %} <th>Тип транзакции</th> {% endcomment %}
            <th>Сумма</th>
            <th>Статус операции</th>
            <th>Банк отправителя</th>
            <th>Счет поступления/списания</th>
            <th>Банк получателя</th>
            <th>ИНН получателя</th>
            <th>Расчетный счет получателя</th>
            <th>Телефон получателя</th>
            <th>Категория</th>
            <th>Комментарий к операции</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in page_obj %}
        <tr>
            <td style="white-space: nowrap;">{{ transaction.date_time|date:"d.m.Y H:i" }}</td>
            {% comment %} <td>{{ transaction.get_transaction_type_display }}</td> {% endcomment %}
            <td 
            class="{% if transaction.transaction_type == 'entry' %}text-success{% elif transaction.transaction_type == 'write-off' %}text-danger{% endif %}"
            style="white-space: nowrap;" >
                {% if transaction.transaction_type == 'entry' %}+{% elif transaction.transaction_type == 'write-off' %}-{% endif %}
                {{ transaction.amount|floatformat:2 }}
            </td>
            <td>{{ transaction.get_status_display }}</td>
            <td>{{ transaction.sender_bank.name }}</td>
            <td>Не указано</td>
            <td>{{ transaction.receiver_bank.name }}</td>
            <td>{{ transaction.receiver_inn }}</td>
            <td>Не указано</td>
            <td>{{ transaction.receiver_phone }}</td>
            <td>{{ transaction.category.name }}</td>
            <td>{{ transaction.comment }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
