{% extends 'base.html' %}

{% block transactions %}active{% endblock %}


{% block title %} All transactions {% endblock %}

{% block style %}
    .table_custom th{ 
        color: rgba(255, 255, 255, 1);
        background-color:rgba(13, 110, 253, 1);
        text-align: center;
        vertical-align: middle;
    }

{% endblock %}     


{% block content %}
<table class="table mt-5 table-bordered border-secondary table-striped table-hover">
    <thead class="table_custom">
        <tr>
            <th>Дата и время операции</th>
            {% comment %} <th>Тип транзакции</th> {% endcomment %}
            <th>Сумма</th>
            <th>Статус операции</th>
            <th>Банк отправителя</th>
            <th>Счет поступления/списания</th>
            <th>Банк получателя</th>
            <th>ИНН получателя</th>
            <th>Расчетный счет получателя</th>
            <th>Телефон получателя</th>
            <th>Категория</th>
            <th>Комментарий к операции</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in page_obj %}
        <tr>
            <td style="white-space: nowrap;">{{ transaction.date_time|date:"d.m.Y H:i" }}</td>
            {% comment %} <td>{{ transaction.get_transaction_type_display }}</td> {% endcomment %}
            <td 
            class="{% if transaction.transaction_type == 'entry' %}text-success{% elif transaction.transaction_type == 'write-off' %}text-danger{% endif %}"
            style="white-space: nowrap;" >
                {% if transaction.transaction_type == 'entry' %}+{% elif transaction.transaction_type == 'write-off' %}-{% endif %}
                {{ transaction.amount|floatformat:2 }}
            </td>
            <td>{{ transaction.get_status_display }}</td>
            <td>{{ transaction.sender_bank.name }}</td>
            <td>Не указано</td>
            <td>{{ transaction.receiver_bank.name }}</td>
            <td>{{ transaction.receiver_inn }}</td>
            <td>Не указано</td>
            <td>{{ transaction.receiver_phone }}</td>
            <td>{{ transaction.category.name }}</td>
            <td>{{ transaction.comment }}</td>
            <td>
                <div aria-label="Transaction operations">
                    <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#correctTransaction"><i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn mt-2 btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmation"><i class="bi bi-trash"></i></button>
                    <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Вы точно хотите удалить транзакцию от {{ transaction.date_time|date:"d.m.Y H:i" }} на сумму {{ transaction.amount|floatformat:2 }} рублей?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                              <button type="button" class="btn btn-danger">Удалить</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="modal fade" id="correctTransaction" tabindex="-1" aria-labelledby="correctTransactionLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fw-bold" id="exampleModalLabel">Изменение транзакции</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="d-flex flex-row">
                              <div class="d-flex flex-column p2 w-50">
                                <label for="basic-url" class="form-label fw-bold"> Тип лица: </label>
                                <div class="input-group mb-3">
                                  <select class="form-select">
                                    <option selected>Выберете тип лица</option>
                                    <option value="1">Физическое лицо</option>
                                    <option value="2">Юридическое лицо</option>
                                  </select>                                  
                                </div>
                              </div>
                              <span class="mx-4" ></span>         
                              <div class="d-flex flex-column p2 w-50">
                                <label for="basic-url" class="form-label fw-bold"> Cтатус операции: </label>
                                <div class="input-group mb-3">
                                  <select class="form-select">
                                    <option selected>Выберете статус операции</option>
                                    <option value="1">Новая</option>
                                    <option value="2">Подтвержденная</option>
                                    <option value="2">В обработке</option>
                                    <option value="2">Отменена</option>
                                    <option value="2">Платеж выполнен</option>
                                    <option value="2">Платеж удален</option>
                                    <option value="2">Возврат</option>
                                  </select>                                  
                                </div>
                              </div>
                            </div>
                                <div class="d-flex flex-row">
                                  <div class="d-flex flex-column p2 w-50">
                                    <label for="amount" class="form-label fw-bold"> Cумма операции: </label>
                                    <div class="input-group ">
                                     <span class="input-group-text">₽</span>
                                     <input type="text" class="form-control" placeholder="00.00">
                                    </div>   
                                  </div>
                                  <span class="mx-4" ></span>         
                                  <div class="d-flex flex-column ms-4">
                                    <label for="basic-url" class="form-label fw-bold"> Время операции: </label>
                                    <div class="d-flex flex-row">
                                      <span class="me-2 mt-1" id="date">Дата:</span>
                                      <input type="text" class="form-control" placeholder="01">
                                      <input type="text" class="form-control" placeholder="01">
                                      <input type="text" class="form-control" placeholder="2025">
                                      <span class="ms-4 me-2 mt-1" id="time">Время: </span>
                                      <input type="text" class="form-control" placeholder="00">
                                      <label for="basic-url" class="form-label px-2"> : </label>
                                      <input type="text" class="form-control" placeholder="00">
                                    </div>
                                   </div>  
                                  </div>
                           
                                <label for="basic-url" class="form-label mt-2 fw-bold"> Банк отправителя: </label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="Название банка">
                                </div>
                                <label for="basic-url" class="form-label fw-bold"> Банк получателя: </label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="Название банка">
                                </div>
                                <label for="basic-url" class="form-label fw-bold"> ИНН: </label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="012345678910">
                                </div>
                                <label for="basic-url" class="form-label fw-bold"> Категории: </label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="Название категории">
                                </div>
                                <label for="basic-url" class="form-label fw-bold"> Номер телефона: </label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="+7 (123) 456-78-90">
                                </div>
                                <label for="basic-url" class="form-label fw-bold"> Комментарий : </label>
                                <div class="input-group">
                                  <textarea class="form-control" aria-label="With textarea"></textarea>
                                </div>                               
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                              <button type="button" class="btn btn-success">Сохранить</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>                    
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
