{% extends 'base.html' %}

{% block title %} All transactions {% endblock %}

{% block content %}
<table class="table mt-5 table-boarderd table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Пользователь</th>
            <th>Тип лица</th>
            <th>Дата и время операции</th>
            <th>Тип транзакции</th>
            <th>Комментарий к операции</th>
            <th>Сумма</th>
            <th>Статус операции</th>
            <th>Банк отправителя</th>
            <th>Счет поступления/списания</th>
            <th>Банк получателя</th>
            <th>ИНН получателя</th>
            <th>Расчетный счет получателя</th>
            <th>Телефон получателя</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in page_obj %}
        <tr>
            <td>{{ transaction.user }}</td>
            <td>{{ transaction.type_person }}</td>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.comment }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.status }}</td>
            <td>{{ transaction.sender_bank }}</td>
            <td>ПУСТО</td>
            <td>{{ transaction.receiver_bank }}</td>
            <td>ПУСТО</td>
            <td>ПУСТО</td>
            <td>{{ transaction.receiver_phone }}</td>
            <td>{{ transaction.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:'-1' and i <= page_obj.number|add:'1' %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
